<div class="row m-5">
  <div class="col-md-3">
    <%= link_to "New note", new_note_path, class: 'btn btn-outline-primary' %>
  </div>
  <div class="col-md-auto">
    <%= render 'search_form' %>
  </div>
</div>

<%= render 'note' %>
